<body>

    
        
            
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:rgb(5, 55, 102); color :  rgb(247, 235, 235);">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/graph"><b>Reliance</b><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/eichermot"><b>Eichermot</b></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/cipla"><b>Cipla</b></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/ashokley">Ashokley</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/tata"><b>Tatasteel</b></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><b>Logout</b></a>
                    </li>
                    
                    
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            
              
    
    
    </body>
    