html,
body,
header,
#intro {
    height: 100%;
    
}

#intro {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxTPQbQIWrVhXPiD9V0I7yp2HDEyw4STOpPw&usqp=CAU);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:1000px;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }