

<body>

    <div class="container">
        <div class="frame">
        
            
    <form class="text-center border border-light p-5" action="#!" >
    
        <p class="h4 mb-4 " style="color:green;"><b>Login</b></p>
    
        <input type="text" name="email" [(ngModel)]="email"  placeholder="Enter email"  id="defaultRegisterFormLastName" required
         class="form-control mb-4" >
        
            
        
        <input type="password"  name="password" [(ngModel)]="password"  placeholder="Enter password "  id="defaultRegisterFormEmail" required
        class="form-control mb-4">
        
    
       
        <button class="btn btn-success my-4 btn-block" (click)="getUser()"  type="submit" >Login</button>
    
        
    
        
        
    
    </form>
    </div>
    </div>
    
    </body>
    